<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	{{!-- fonts --}}
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Muli&display=swap" rel="stylesheet">

	{{!-- materialize CSS --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	{{!-- CUSTOM CSS --}}
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

	{{!-- JAVASCRIPT --}}
	<script src="https://code.jquery.com/jquery.js"></script>


	<title>MVC With burgers!</title>
</head>

<body>
	<div class="container">
		{{{ body }}}
	</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/
	materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/assets/js/burger.js"></script>
</body>

</html>