li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }

  .label {
    font-weight: bold;
  }

  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(209, 105, 7);
  }

  .form-group {
    margin-bottom: 5px;
  }

  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }